*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  height: 100%;
  width: 100%;
  background-color: #d4e8d8;
  background-position: center;
  background-size: cover;
  position: absolute;
}

.form-box {
  width: 75%;
  position: relative;
  margin: 6% auto;
  background: #fff;
  padding: 5px;
  overflow: hidden;
}

form {
  border: 3px solid #f1f1f1;
  padding: 20px;
}

input[type=text], input[type=file], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
}

input[type=submit] {
  background: linear-gradient(to right, #d4e8d8, lightseagreen);
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  display: block;
}

input[type=submit]:hover {
  background-color: #45a049;
}
